.dish-section {
  height: 30rem;
  width: 100%;
  margin-top: 100px;
}

#dish-left-section {
  float: left;
  width: 50%;
  height: 100%;
}

#dish-left-section-title {
  text-transform: capitalize;
  font-size: 5rem;
  padding: 20px 0;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

#dish-left-section-paragraph {
  margin: 40px 0;
  font-size: 1.5rem;
}

#dish-left-section-shop-now-btn,
#dish-left-section-contact-us-btn {
  cursor: pointer;
  padding: 20px 25px;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 15px;
}

#dish-left-section-shop-now-btn {
  background-color: rgb(255, 94, 0);
}

#dish-left-section-contact-us-btn {
  background-color: #000;
  margin-left: 15px;
}

#dish-right-section {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

#dish-right-section img {
  width: 65%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
