{% extends 'base.html' %} {% block body %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td class="id">{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td class="price">{{ product.price }} $</td>
      <td>
        <a href="/products/{{ product.id }}/" class="btn-show">Show</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
