* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

#slider {
  width: 80vw;
  height: 60vh;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
}

#slides {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  padding: 0 50px;
}

.slide {
  width: 300px;
  height: 350px;
  object-fit: cover;
  flex: 0 0 auto;
  opacity: 0.4;
  transform: scale(0.8);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.slide.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

#buttons {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #fff;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 20px;
  background: white;
  transition: 0.3s;
}

button:hover {
  background: #333;
  color: white;
}
